:root {
    --main-background: #fff;
    --main-border: #eee;
    --main-padding: 20px;
    --main-color: #2BB24C;
    --main-gray: rgb(173, 173, 173);
    --main-hover: rgba(217,217,217,.65);

    --page-title: 30px;

    --sidebar-background: #f6f7f8;
    --icon-color: rgb(78, 78, 78);

    font-family: Helvetica, Arial, sans-serif
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-background);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

*:focus {
    outline: none;
}

input:focus {
    outline: 1px solid var(--main-color);
}

#root {
    width: 100%;
    height: 100%;
}

.app-container {
    display: grid;
    grid-template: 100% / 64px 320px auto;
    grid-template-areas:
        "navbar sidebar main-content";
    width: 100%;
    height: 100%;
}


.site-logo-gray {
    display: flex;
    justify-content: center;
    background-image: url('./assets/logo-gray.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.site-logo {
    display: flex;
    justify-content: center;
    background-image: url('./assets/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.site-logo:hover {
    cursor: pointer;
}



.standard-button {
    background-color: #2BB24C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1rem;
    margin-top: 0;
    margin-right: .5rem;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    min-width: 50px;
    box-sizing: border-box;
    letter-spacing: 0;
    box-shadow: none;
    outline: 0;
    transition: background-color .2s linear,color .2s linear;
    color: white;
}

.standard-button:hover {
  background-color: #249540;
  color: white;
  cursor: pointer;
}
