.form-container {
  padding: 0 64px 64px 64px;
  width: 100%;
}

.form-container__header {
  font-weight: bold;
  font-size: 36px;
}

.form-container__subheader {
  font-size: 20px;
  color: gray;
  padding-top: 20px;
}

.form-container__input-fields {
  margin-bottom: 20px;
}

.form-container__label {
  padding-bottom: 5px;
}

.form-container button {
  background-color: var(--main-color);
  color: white;
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.form-container button:hover {
  background-color: white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  cursor: pointer;
}
