.sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: var(--sidebar-background);
    padding: 16px 0 0 0;
    font-size: 13px;;
}


.sidebar a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}


.sidebar__first-section > div {
    display: flex;
    flex-direction: row;
    padding: 5px 20px 5px 20px;
}

.sidebar__first-section > div:hover {
    background-color: rgba(0,0,0,.05);
}

.sidebar__title.sidebar__title {
    margin: 0;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;;
    width: 100%;
    font-weight: bold;
}

.sidebar__title.sidebar__title:hover {
    cursor: pointer;
}

.sidebar__row.sidebar__row {
    padding-top: 4px;
    padding-bottom: 4px;
}

.sidebar__icon {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-gray);
}

.sidebar__header {
    text-transform: uppercase;
    font-size: 11px;
    color: gray;
}

.sidebar__icon:hover {
    cursor: pointer;
}

.feed-list__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.475rem 22px .5rem 20px;
}

.feed-list-all {
    display: flex;
    flex-direction: row;
    border-left: 2px solid transparent;
    padding-left: 20px;
    padding-right: 22px;
}

.feed-list-all:hover {
    background-color: rgba(0,0,0,.05);
}

.sidebar__add-feed.sidebar__add-feed {
    background-color: #f6f7f8;
    border-left: 2px solid transparent;
    color: #333;
    cursor: pointer;
    font-size: .815rem;
    font-weight: 500;
    padding-right: 22px;
    padding-left: 54px;
}

.sidebar__feed {
    padding-right: 20px;
    width: 100%;
}

.feed-container.feed-container {
    display: flex;
    flex-direction: row;
    border-left: 2px solid transparent;
    padding-left: 20px;
}

.--selected {
    border-left: 2px solid var(--main-color)
}

.--selected a {
    color: var(--main-color);
}

.feed-container--selected {
    display: flex;
    flex-direction: row;
    border-left: 2px solid #2bb24c;
    padding-left: 20px;
    padding-right: 22px;
}

.feed-container:hover {
    background-color: rgba(0,0,0,.05);
}

.sidebar__icon-chevron--selected {
    color: #2bb24c;
}

.sidebar__feed a {
    text-decoration: none;
    color: inherit;
}

.sidebar__feed-name--selected {
    color: #2bb24c;
}

.sidebar__add-feed:hover {
    background-color: rgba(0,0,0,.05);
}


.sidebar__third-section {
    margin-top: 1.5rem
}

.sidebar__third-section > div {
    padding: 5px 20px 5px 20px;
}
