.feed-holder-container {
    display: flex;
    flex-direction: column;
}

.feed-list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.feed-container__settings:hover {
    background-color: rgba(0,0,0,.05);
}

.feed-title {
    color: #333;
    font-family: sans-serif;
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1.25em;
    text-align: left;
    text-transform: none;
}

.article-list__title {
    margin-bottom: 20px;
    clear: both;
    color: #757575;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.feed-list__add-source {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed-list__add-source-link {
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
}

.feed-list__add-source-link:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.05);
}
