.article-list__header {
  margin: 0px 0;
}

.article-list__title {
  font-size: var(--page-title);
}

.article-list__title:hover {
  cursor: pointer;
}

.feed-title {
    margin-bottom: 3rem;
    font-size: 2.125rem;
    border-bottom: 1px solid gray;
}
