.article-list__header {
  margin-bottom: 50px;
}

.article-list__title {
  font-size: var(--page-title);
  margin-bottom: 3rem;
  border-bottom: 1px solid gray;
}

.article-list__title:hover {
  cursor: pointer;
}
