.navbar {
    grid-area: navbar;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--main-padding) 0;
    border-right: 1px solid var(--main-border);
}