.navbar {
    grid-area: navbar;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--main-padding) 0;
    border-right: 1px solid var(--main-border);
    width: 100%;
}

.navbar__button {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
    transition: .2s;
    color: var(--icon-color)
}

.navbar__button > a {
    text-decoration: none;
    color: inherit;
}

.navbar__button:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #f2f2f2;
}
