.loading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.loading > i {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 60;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
